<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Radio Button - Angular UI Bootstrap - V-Technologies - RGAA3</title>
	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
		.navbar .navbar-brand {
			color: #fff;
		}
		*:focus {
			border : 2px solid red !important;
		}
		.navbar {
			background: #2868C9;
		}
	</style>
</head>
<body>
	<header role="banner">
		<nav class="navbar navbar-dark">
			<div class="container">
				<div class="navbar-header">
					<a href="../index.html" class="navbar-brand">Accueil des tests AngularUi Bootstrap</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="container" ng-app="ui.bootstrap.demo">
		<h1>Angular UI components</h1>


		<p class="alert alert-info">
			{
				"angular": "^1.5.8",
				"angular-ui-bootstrap": "2.2.0"
			}
		</p>

		<div ng-controller="ButtonsCtrl">
			<h4>Radio buttons</h4>
			<pre>{{radioModel || 'null'}}</pre>
			<div class="btn-group" role="radiogroup" keyboard-rotate="0">
				<button class="btn btn-primary" role="radio" ng-model="radioModel" uib-btn-radio="'Left'">Left</button>
				<button class="btn btn-primary" role="radio" ng-model="radioModel" uib-btn-radio="'Middle'">Middle</button>
				<button class="btn btn-primary" role="radio" ng-model="radioModel" uib-btn-radio="'Right'">Right</button>
			</div>
		</div>

	</div>
	<script src="../../node_modules/angular/angular.js"></script>
	<script src="../../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="../../dist/rgaa_angular-bootstrap.js"></script>
	<script type="text/javaScript">
		/*global angular:false */

		'use strict';

		angular.module('ui.bootstrap.demo', ['rgaaAngularBootstrap']).controller('ButtonsCtrl', function ($scope) {

			$scope.radioModel = 'Middle';

		});
	</script>
</body>
</html>
