<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Slider - Angular UI Bootstrap - V-Technologies - RGAA3</title>
	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
		.navbar .navbar-brand {
			color: #fff;
		}
		*:focus {
			border : 2px solid red !important;
		}
		.navbar {
			background: #2868C9;
		}
	</style>
</head>
<body>
	<header role="banner">
		<nav class="navbar navbar-dark">
			<div class="container">
				<div class="navbar-header">
					<a href="../index.html" class="navbar-brand">Accueil des tests AngularUi Bootstrap</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="container" ng-app="ui.bootstrap.demo">
		<h1>Angular UI components</h1>


		<p class="alert alert-info">
			{
				"angular": "^1.5.8",
				"angular-ui-bootstrap": "2.2.0"
			}
		</p>

		<div ng-controller="RatingDemoCtrl">
			<h4>Default</h4>
			<span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
    		<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

			<pre style="margin:15px 0;">Valeur: <b>{{rate}}</b> - Lecture seule: <i>{{isReadonly}}</i> - Valeur au survole: <b>{{overStar || "none"}}</b></pre>

			<button type="button" class="btn btn-sm btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button>
			<button type="button" class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Toggle Readonly</button>
			<hr />

		</div>

	</div>
	<script src="../../node_modules/angular/angular.js"></script>
	<script src="../../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script type="text/javaScript">
		angular.module('ui.bootstrap.demo', ['ui.bootstrap']).controller('RatingDemoCtrl', function ($scope) {
			$scope.rate = 7;
			$scope.max = 10;
			$scope.isReadonly = false;

			$scope.hoveringOver = function(value) {
				$scope.overStar = value;
				$scope.percent = 100 * (value / $scope.max);
			};

		});
	</script>
</body>
</html>
