<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Radio Button - Angular UI Bootstrap - V-Technologies - RGAA3</title>
	<link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
		.navbar .navbar-brand {
			color: #fff;
		}
		*:focus {
			border : 2px solid red !important;
		}
		.navbar {
			background: #2868C9;
		}
	</style>
</head>
<body>
	<header role="banner">
		<nav class="navbar navbar-dark">
			<div class="container">
				<div class="navbar-header">
					<a href="../index.html" class="navbar-brand">Accueil des tests AngularUi Bootstrap</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="container" ng-app="ui.bootstrap.demo">
		<h1>Angular UI components</h1>


		<p class="alert alert-info">
			{
				"angular": "^1.5.8",
				"angular-ui-bootstrap": "2.2.0"
			}
		</p>

		<div ng-controller="ButtonsCtrl">
			<h4>Single toggle</h4>
			<pre>{{singleModel}}</pre>
			<button role="checkbox" type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="123" btn-checkbox-false="0">
				Single Toggle
			</button>
			<h4 id="titre-checkbox">Un groupe de Checkbox</h4>
			<pre>{{checkModel}}</pre>
			<div role="group" aria-labelledby="titre-checkbox" class="btn-group">
				<button role="checkbox" class="btn btn-primary" ng-model="checkModel.left" uib-btn-checkbox>Left</button>
				<button role="checkbox" class="btn btn-primary" ng-model="checkModel.middle" uib-btn-checkbox>Middle</button>
				<button role="checkbox" class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox>Right</button>
			</div>
		</div>

	</div>
	<script src="../../node_modules/angular/angular.js"></script>
	<script src="../../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="../../dist/rgaa_angular-bootstrap.js"></script>
	<script type="text/javaScript">
		angular.module('ui.bootstrap.demo', ['rgaaAngularBootstrap']).controller('ButtonsCtrl', function ($scope) {

			$scope.singleModel = 123;

			$scope.checkModel = {
				left: false,
				middle: true,
				right: false
			};

		});
	</script>
</body>
</html>
